body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#root {
  height: 100%;

  .main-wrap {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: column;

    .header {
      display: flex;
      background: #000;
      width: 100%;
      height: 60px;
      align-items: center;
      justify-content: center;
    }


    .content{
      flex: 1;
      display: flex;
      flex-direction: row;

      .left-wrap {
        display: flex;
        background: green;
        width: 60px;
        align-items: center;
      }
      .right-wrap {
        flex: 1;
        background: red;
        overflow: auto;
      }
    }

  }
}
